<!-- jumbotron visible to all -->

<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/notify' %>

<script>
function addLightbox(){    
  var url1 = "/add?criterion=";
  var url2 = "&keyword=";
  
  var searchVal = document.getElementById("keyword").value;
  var dropdown = document.getElementById("criterion");
  var criterion = dropdown.options[dropdown.selectedIndex].value;

  var start = url1.concat(criterion);
  var next = start.concat(url2);
  var res = next.concat(searchVal);
  console.log(res);
  $.colorbox({width:"80%", height:"80%", iframe:true, href:res});
}

function searchLightbox(){
  var searchParam = document.getElementById("searchKeyword").value;
  var url1 = "/songs?keyword=";

  var res = url1.concat(searchParam);
  $.colorbox({width:"80%", height:"80%", iframe:true, href:res});
}
</script>

<div class="container fluid">

<div class="jumbotron">
	<h2>WSUM Music Library Database</h2>
	<h3 style="font-style: italic; /*text-align: right;*/">brought to you by D3</h3>
	<hr/>
	<div class="row">
  		<div class="col-lg-10">
    		<div class="input-group">
      			<span class="input-group-btn">
              <button class="btn btn-default" id="searchParam" type ="button" onClick="searchLightbox()">Search</button>
            </span>
      			<input type="text" class="form-control" id="searchKeyword">
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-10 -->
  		<div class="col-lg-2">
  			<%= link_to '<button class="btn btn-default" type ="button">Browse</button>'.html_safe, 'songs', :data => { :colorbox => true, :colorbox_height => '75%', :colorbox_width => '82%', :colorbox_iframe => true } %>
  		</div><!-- /.col-lg-2 -->
	</div><!-- /.row -->
	<hr/>
	<div class="row">
  		<div class="col-lg-10">
    		<div class="input-group">
      			<span class="input-group-btn">
        			<button class="btn btn-default" id="addParam" type ="button" onClick="addLightbox()">Add</button>
      			</span>
              <input class="form-control" id="keyword" type="text" />
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-10 -->
  		
  		<div class="col-lg-2"></div>
  			<span class="dropdown">
  				<select class="btn btn-default" id="criterion">
              <option value="3">Song</option>
              <option value="2">Album</option>
              <option value="1">Artist</option>
             </select>
  				</button>


  				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  					<li><a href="">Song</a></li>
    				<li><a href="">Album</a></li>
  				</ul>
  			</span>
		</div>
	</div><!-- /.row -->
</div>
<!-- jumbotron only visible to admins w/add&edit priv -->
</div> <!-- end fluid container -->

<%= render :partial => 'layouts/playlist_short' %>

<%= render :partial => 'layouts/footer'%>
