<!-- jumbotron visible to all -->

<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/notify' %>


<div class="container fluid">

<div class="jumbotron">
	<h2>WSUM Music Library Database</h2>
	<h3 style="font-style: italic; /*text-align: right;*/">brought to you by D3</h3>
	<hr/>
	<div class="row">
  		<div class="col-lg-10">
    		<div class="input-group">
      			<span class="input-group-btn">
      				<%= link_to '<button class="btn btn-default" type ="button">Search</button>'.html_safe, 'search', :data => { :colorbox => true, :colorbox_height => '75%', :colorbox_width => '82%', :colorbox_iframe => true } %>
        			<!-- <button class="btn btn-default modalLauncher" data-toggle="modal" href="#searchModal"><%= link_to "Search", "#searchModal", :data => { :colorbox => true, :colorbox_height => '700px', :colorbox_width => '1000px', :colorbox_iframe => true } %></button> -->
      			</span>
      			<input type="text" class="form-control">
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-10 -->
  		<div class="col-lg-2">
  			<%= link_to '<button class="btn btn-default" type ="button">Browse</button>'.html_safe, 'search', :data => { :colorbox => true, :colorbox_height => '75%', :colorbox_width => '82%', :colorbox_iframe => true } %>
  		</div><!-- /.col-lg-2 -->
	</div><!-- /.row -->
	<hr/>
	<div class="row">
  		<div class="col-lg-10">
    		<div class="input-group">
      			<span class="input-group-btn">
        			<%= link_to '<button class="btn btn-default" type ="button">&nbsp;&nbsp;Add&nbsp;&nbsp;</button>'.html_safe, 'add', :data => { :colorbox => true, :colorbox_height => '75%', :colorbox_width => '82%', :colorbox_iframe => true } %>
      			</span>
      			<input type="text" class="form-control">
    		</div><!-- /input-group -->
  		</div><!-- /.col-lg-10 -->
  		
  		<div class="col-lg-2"></div>
  			<span class="dropdown">
  				<button class="btn btn-default" type="button dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
    			Criterion 
          <span class="caret"></span>
  				</button>


  				<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  					<li><a href="#">Song</a></li>
    				<li><a href="#">Album</a></li>
  				</ul>
  			</span>
		</div>
	</div><!-- /.row -->
</div>
<!-- jumbotron only visible to admins w/add&edit priv -->
</div> <!-- end fluid container -->

<%= render :partial => 'layouts/playlist_short' %>

<%= render :partial => 'layouts/footer'%>

