<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/notify' %>

<div class="iframe">
<!-- <div class="row"> -->
	<div style="text-align:center;">
		<h1><strong><%= @user.name %></strong></h1>
		<h4><%= @user.email%></h4>
	</div>
	<div class="col-md-6">
		<!-- <body> -->
			<table class="table table-striped table-bordered table-hover table-nonfluid">
				<thead>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		<!-- </body> -->
	</div>
	<div class="col-md-6">
		<div class="songI-nonfluid">
			<!-- <img src="http://cdn.mybloodyvalentine.stukcdn.com/Images/Large/20130201033613-1301c6d2-acbf-4d94-89cd-acfd99cdc850.jpg"/> -->
		</div>
	</div>
<!-- </div> -->
</div>




<%= render :partial => 'layouts/footer' %>