	<!-- <% @privilege.each do |p| %>
					<tr>
						<td><strong>Q-Drive Ability</strong></td>
						<td><%= @p.qDrive %></td>
					</tr>
					<tr>
						<td><strong>Add Ability</strong></td>
						<td><%= @song.addSong %></td>
					</tr>  			
					<tr>
						<td><strong>Editing Ability</strong></td>
						<td><%= @song.editSong %></td>
					</tr>  			
					<tr>
						<td><strong>Delete Ability</strong></td>
						<td><%= @song.deleteSong%></td>
					</tr>  			
					<tr>
						<td><strong>Granting Ability</strong></td>
						<td><%= @song.grantPermission %></td>
						</tr>  			
					<tr>
						<td><strong>Add User Ability</strong></td>
						<td><%= @song.addUser %></td>
					</tr>  			
					<tr>
						<td><strong>Delete User Ability</strong></td>
						<td><%= @song.deleteUser %></td>
					</tr>  			
					<tr>
						<td><strong>Edit User Ability</strong></td>
						<td><%= @song.editUser %></td>
					</tr>  			
					<% end %> 		 -->