<search>
  <div class="iframe">

<h2> Details for 
	<i> <%= @title %> </i>by
	<b> <%= @artist %> </b>
</h2>
<table class="table table-striped table-border table-hover" id="myTable">
	<thead>
  			<tr>
  			<th><strong>Country</strong></th>
  			<th><strong>Release Date</strong></th>
  			<th><strong>Qulity</strong></th>
  			<th><strong>Format</strong></th>
  			<th><strong>Track Count</strong></th>
			<th><strong>Inspect</strong></th>
  			</tr>
  		</thead>
	<tbody>
	  <% @rt.each do |entry| %>
		  <tr>
		  	<td> 
		  		<%= entry["release-events"].first['area']['name'] || "N/A" %>
		  	</td>
		  	<td> 
		  		<%= entry['date'] || "N/A" %>
		  	</td>
		  	<td> 
		  		<%= entry['quality'] || "N/A" %>
		  	</td>
		  	<td> 
		  		<%= $format = entry['media'].first['format'] || "N/A" %> 
		  	</td>
		  	<td> 
		  		<%= entry['media'].first['track-count'] || "N/A" %>
		  	</td>
		  	<td>
		  		<%= link_to '<button type="button" class="btn btn-info">Info</button>'.html_safe, :controller => "album_inspect", :action => "songInspect", :albumToQuery => entry['id'], :format => $format %>
		  	</td>
		  </tr>
	  <% end %>
	</tbody>
</table>
<script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').dataTable({
          "sPaginationType": "bootstrap"
        });
    });
  </script>
    </div>
</search>
