<search>
  <div class="iframe">
	<h2> <%= "Keyword: " + @keyword %> </h2>
	<h2> <%= "Criterion: " + @criterion_show %> </h2>
	<table class="table table-striped table-border table-hover" id="myTable">

		<% if @criterion_show == 'Artist' %>
			<thead>
	  			<tr>
		  			<th><strong>Name</strong></th>
		  			<th><strong>Genre</strong></th>
		  			<th><string>Type</string></th>
		  			<th><strong>Inspect</strong></th>
	  			</tr>
	  		</thead>
			<tbody>
			  <% @rt.each do |entry| %>
				  <tr>
				  	<td> <%= entry['name'] %> </td>
				  	<td> 
				  		<% if entry['area'] %>
				  			<%= entry['disambiguation'] %> 
				  		<% else %>
				  			<%= "N/A" %>
				  		<% end %>
				  	</td>
				  	<td> 
				  		<% if entry['type'] %>
				  			<%= entry['type'] %> 
				  		<% else %>
				  			<%= "N/A" %>
				  		<% end %>
				  	</td>
				  	<td>
				  		<%= link_to '<button type="button" class="btn btn-info">Inspect</button>'.html_safe, {:controller => "album_inspect", :action => "artistInspect", 
				  			:artist_id => entry["id"]} %>
				  	</td>
				  </tr>
			  <% end %>
			</tbody>
		<% end %>

		<% if @criterion_show == 'Album' %>
				<thead>
		  			<tr>
		  			<th><strong>Title</strong></th>
		  			<th><strong>Artist</strong></th>
		  			<th><strong>Type</strong></th>
		  			<th><strong>Inspect</strong></th>
		  			</tr>
		  		</thead>
			<tbody>
			  <% @rt.each do |entry| %>
				  <tr>
				  	<td> <%= entry['title'] %> </td>
				  	<td> 
				  		<% if entry['artist-credit']  %>
				  			<%= entry['artist-credit'].first['artist']['name'] %> 
				  		<% end %>
				  	</td>
				  	<td> 
				  		<% if entry['primary-type'] %>
				  			<%= entry['primary-type'] %> 
				  		<% else %>
				  			<%= "N/A" %>
				  		<% end %>
				  	</td>
				  	<td>
				  		<%= link_to '<button type="button" class="btn btn-info">Inspect</button>'.html_safe, {:controller => "album_inspect", :action => "albumInspect", 
				  			:album_id => entry["id"], :title => entry['title']} %>
				  	<td>
				  </tr>
			  <% end %>
			</tbody>
		<% end %>

		<% if @criterion_show == 'Track' %>
			<thead>
		  			<tr>
		  			<th><strong>Title</strong></th>
		  			<th><strong>Artist</strong></th>
		  			<th><strong>Album</strong></th>
		  			<th><strong>Year</strong></th>
		  			<!-- <th><strong>Note</strong></th> -->
		  			<th><strong>Inspect</strong></th>
		  			</tr>
		  	</thead>
			<tbody>
				<% @rt.each do |entry| %>
					<tr>
					  	<td> <%= entry['title'] %> </td>
					  	<td> 
					  		<% if entry['artist-credit']  %>
					  			<%= entry['artist-credit'].first['artist']['name'] %> 
					  		<% end %>
					  	</td>
					  	<td> 
							<% if entry['releases'] %>
					  			<%= entry['releases'].first['title'] %>
					  			<% $release_id =  entry['releases'].first['id'] %>
					  		<% else %>
					  			<%= "N/A" %>
					  		<% end %>
					  	</td>

					  	<td> 
					  		<% if entry['releases'] %>
					  			<% $release_date = entry['releases'].first['date']%>
					  			<%= ($release_date == nil || $release_date == "") ? "N/A" :  
					  			entry['releases'].first['date']%> 
					  			<% else %>
					  			<%= "N/A" %>
					  		<% end %>
					  	</td>

					  	<!-- <td> <%#= entry['disambiguation'] %> </td> -->
					  	<td> <!-- TODO query the individual song-->
					  		<%= link_to '<button type="button" class="btn btn-info">Inspect</button>'.html_safe, {:controller => "album_inspect", :action => "singleSongInspect", :songToQuery => entry["id"] } %>
					  	<td>
					</tr>
				<% end %>
			</tbody>
		<% end %>


	</table>
	<script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').dataTable({
          "sPaginationType": "bootstrap"
        });
    });
  	</script>
  </div>
</search>

