<script>
	$(document).ready(function() {
		parent.$.colorbox.resize({width:"82%", height:"75%"});
	});

</script>

<search>
  <div class="iframe">
  <table class="table table-striped table-border table-hover" id="myTable">
      <thead>
        <tr>
        <th><strong>Title</strong></th>
        <th><strong>Artist</strong></th>
        <th><strong>Album</strong></th>
        <th><strong>Inspect</strong></th>
        <th><strong>Remove</strong></th>
        </tr>
      </thead>
    <tbody>
          <% @songs.each do |song| %>
         <tr>
            <td><%= song.title %></td>
            <td><%= song.artist %></td>
            <td><%= song.album %></td>
            <td>
              <%= link_to '<button type="button" class="btn btn-info">Info</button>'.html_safe, :controller => "song_inspect", :action => "songInspect", :song => song.id  %>
            </td>
            <td>
              <%= link_to '<button type="button" class="btn btn-danger">Delete</button>'.html_safe, :controller => "delete_song_conf", :action => "deleteConfirm", :song => song.id  %>
            </td>
         </tr>
        <% end %>
    </tbody>
  </table>
  <!-- </body> -->
  <script type="text/javascript">
    function getURLParameter(name) {
        return decodeURI(
            (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
        );
    }

    $(document).ready(function(){
        var searchParam = getURLParameter('keyword');
        var filter;
        if(searchParam != "null")
        {
          filter = searchParam;
        }
        else {
          filter = "";
        }

        var table = $('#myTable').dataTable({
          "sPaginationType": "bootstrap"
        });

        table.fnFilter( filter );
       
    });

  </script>
  </div>
</search>
