<search>
  <div class="iframe">
<h3>
You are adding  
	<i> <%= @title %> </i> by
	<b> <%= @artist %> </b>
to database, total 
<b> <%= @songs_list.count %> </b>
songs
<h3>Please make sure all fields are correct !</h3>

		<table class="table table-striped table-border table-hover" id="myTable">
			<thead>
	  			<tr>
		  			<th><strong>Number</strong></th>
		  			<th><strong>Submit</strong></th>
		  			<th><strong>Title</strong></th>
		  			<th><strong>Artist</strong></th>
		  			<th><strong>Album</strong></th>
		  			<th><strong>Duration</strong></th>
		  			<th><strong>Quality</strong></th>
		  			<th><strong>fccFlag</strong></th>
		  			<th><strong>is_qDrive</strong></th>
		  			<th><strong>Location</strong></th>
		  			<th><strong>Format</strong></th>
		  			<th><strong>Review</strong></th>
		  		</tr>
		  	</thead>
			<tbody>
				<% $count = 0 %>
				<% @songs_list.each do |song| %>
					
					<%= form_for(@new_songs_array[$count]) do |f| %>
						
						<tr>
					  		<td> 
							  <%= $count+1%>
							</td>
					  		<td>
								<div class="actions" style="margin: 0 auto;">
				    				<%= f.submit :class => 'btn btn-success', :id => 'submit_button' %>
				    			</div>
				    		</td> 

				    		<td> 
							  <%= f.text_field :title, :value => song["title"], :maxlength => 10%>
							</td> 
							<td> 
							  <%= f.text_field :artist, :value => @artist, :maxlength => 10 %>
							</td> 
							<td> 
							  <%= f.text_field :album, :value => @title, :maxlength => 10 %>
							</td> 
							<td> 
							  <%= f.text_field  :duration, :value => Song.get_time_str(song["length"].to_i/1000), :maxlength => 5 %>
							</td> 
							<td> 
							  <%= f.number_field :quality, :value => 0, :maxlength => 1  %>
							</td> 
							<td> 
							   <%= f.check_box :fccFlag, :maxlength => 5 %>
							</td> 
							<td> 
							  <%= f.check_box :is_qDrive, :maxlength => 5 %>
							</td> 
							<td> 
							  <%= f.text_field :location, :value => "N/A", :maxlength => 5 %>
							</td> 
							<td> 
							   <%= f.text_field :format, :value => "N/A", :maxlength => 5 %>
							</td> 
							<td> 
							   <%= f.text_area :review :maxlength => 5 %>
							</td>

						</tr>
				
			  		<% end %>
			  		<% $count += 1 %>

			    <% end %>
		  		
			</tbody>
			
		</table>
    </div>
</search>
