<p id="notice"><%= notice %></p>

<p>
  <strong>Users:</strong>
  <%= @playlist.user %>
  <% # EDITED FROM user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>

<p>
  <strong>Songs:</strong>
  <ul>
  <% @playlist.songs.each do |song| %>
    <li><%= song.title %></li>
  <% end %>
  </ul>

</p>

<p>
  <strong>Qdrive:</strong>
  <%= @playlist.qDrive %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @playlist.notes %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
