<script>
	
$(document).ready(function () {
	$('#plink').click(function(){
		parent.$.colorbox.close();
		window.parent.location.href='/playlists';
	}
);
});
	
</script>



<search>
	<div class="iframe">
		<p>
			<div class="col-md-2"></div>
			<div class="col-md-8">
  				<h1><center>
  					<strong><%= @playlist.title %></strong>
  				</center></h1>
  			</div>
  			<div class="col-md-2">
  				<%= link_to '<button type="button" id="plink" class="btn btn-success">Go To My Playlists</button>'.html_safe %>
 			</div>
		</p>
	<!-- <body> -->
	<table class="table table-striped table-border table-hover" id="myTable">
  		<thead>
  			<tr>
  			<th><strong>Song</strong></th>
  			<th><strong>Artist</strong></th>
  			<th><strong>Album</strong></th>
  			<th><strong>Inspect</strong></th>
  			</tr>
  		</thead>
		<tbody>
        	<% @playlist.songs.each do |song| %>
     		 <tr>
       			<td><%= song.title %></td>
       			<td><%= song.artist %></td>
       			<td><%= song.album %></td>
       			<td>
       				<%= link_to '<button type="button" class="btn btn-info">Info</button>'.html_safe, :controller => "song_inspect", :action => "songInspect", :song => song.id  %>

       			</td>
     		 </tr>
   			<% end %>
		</tbody>
	</table>
	<!-- </body> -->
	<div class="col-md-6">
		<table class="table table-striped table-bordered table-hover table-nonfluid">
				<tbody>
					<tr>
						<td><strong>Q-Drive?</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @playlist.qDrive %>
  								<span style="color:orange">YES</span>
  							<% else%>
  								<span style="color:blue">NO</span>
  							<% end %>
  							</div>
  						</td>
					</tr>
					<tr>
						<td><strong>Clean</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<% if @playlist.contains_explicit? %>
          						<span style="color:red">NO</span>
        					<% else %>
          						<span style="color:green">YES</span>
        					<% end %>
  							</div>
  						</td>
					</tr>  			
					<tr>
						<td><strong>Duration</strong></td>
						<td><div class="btn-group" data-toggle="buttons">
							<%= @playlist.get_duration %>
  							</div>
  						</td>
					</tr>  			
					<tr> 			
				</tbody>
			</table>
		<!-- </body> -->
	</div>
	<div class="col-md-6">
		<table class="table table-striped table-border table-hover" id="myTable">
  		<thead>
  			<tr>
  			<th><strong><center>Notes</center></strong></th>
  			</tr>
  		</thead>
		<tbody>
     		 <tr>
       			<td><%= @playlist.notes %></td>
     		 </tr>
		</tbody>
	</table>
	</div>
	</div>
  <script type="text/javascript">
    $(document).ready(function(){
        $('#myTable').dataTable({
          "sPaginationType": "bootstrap"
        });
    });
  </script>
</search>