<script>
function shortLightbox(playlistID){    
  var url1 = "/showPlaylist?playlistID=";
  
  var start = url1.concat(playlistID);

  console.log(start);
  $.colorbox({width:"80%", height:"80%", iframe:true, href:start});
}
</script>


<div class="container" id="playlist_short">
  <div class="list-group">

    <% @playlists.last(5).reverse.each do |playlist| %>
    
      <a class="list-group-item" onClick="shortLightbox(<%= playlist.id %>)">
        <div class="row">
          <div class="col-md-6">
            <h4><%= playlist.title %></h4>
          </div>
          <div class="col-md-6">
            <h4><%= truncate(playlist.notes, length: 25, separator: ' ') %></h4>
          </div>
        </div>
        <p>
          <% playlist.songs.first(3).each do |song| %>
           &diams;&nbsp;<%= song.title %> - <%= song.artist %>
          <% end %>
          <% if playlist.songs.count > 3 %>
            ...
          <% end %>
        </p>
      </a>
    <% end %>
  </div>
</div>
